.exchange {
  &_table {
    max-width: 65rem;

    & .cur-name-col {
      width: 25rem;
    }

    & .cur-value-col {
      width: 20rem;
    }

    td {
      cursor: pointer;
    }

    .error-validation {
      height: 2rem;
      margin: 1rem 0 0 1rem;
      font-size: 1.2rem;
      color: $color-font-error;
    }
  }
}
